.container{
    position: relative;
    top: 36rem;
}
 
.head{
    font-size: 48px;
    font-weight: 800;
    display: flex;
}

.video-container{

    width: 250px;
    height: 250px;
    background-color: #e6e6e6;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 53rem;
    bottom: 13rem;
}